@model GLMS.Models.Client

@{
    ViewData["Title"] = "Client Details";
}

<h1><i class="fas fa-info-circle"></i> Client Details</h1>
<hr />

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Region)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Region)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ContactPerson)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ContactPerson)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.ClientId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>